body {
  background-color: hsl(217, 54%, 11%);
  cursor: pointer;
}

.container {
  font-size: 18px;
  font-family: Outfit;
  border-radius: 3% / 3%;
  background-color: hsl(216, 50%, 16%);
  margin: auto;
  padding: 30px;
  width: 375px;
  align-content: center;
  margin-top: 80px;
}

/* equal image */
.view {
  display: none;
  position: relative;
  top: 210px;
  left: 166px;
}

.view:hover {
  display: block;
  position: relative;
  top: 210px;
  left: 166px;
}

.equal_image {
  max-width: 100%;
  border-radius: 3% / 3%;
  padding: 0px;
}

.equal_image:hover {
  max-width: 100%;
  height: auto;
  border-radius: 3% / 3%;
  filter: hue-rotate(315deg) brightness(2.1);
}

h2 {
  color: hsl(0, 0%, 100%);
}

h2:hover {
  color: hsl(178, 100%, 50%);
}

h3 {
  color: hsl(215, 32%, 57%);
  font-weight: 400;
}

.flex-container {
  display: flex;
}

.clock {
  color: hsl(215, 51%, 70%);
  padding-left: 170px;
}

.ethereum {
  color: hsl(178, 100%, 50%);
}

.avatar {
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: hsl(0, 0%, 100%);
  vertical-align: middle;
  float: left;
  width: 75px;
  height: 75px;
  object-fit: cover;
}

hr.new1 {
  border-top: 2px solid hsl(215, 32%, 27%);
  width: 90%;
}

h5 {
  padding: 10px;
  display: inline-block;
  margin: 25px 10px;
  font-size: 18px;
  color: hsl(215, 32%, 57%);
  font-weight: 400;
}

.blue-text {
  color: hsl(215, 32%, 57%);
}

.blue-text:hover {
  color: hsl(178, 100%, 50%);
}
